<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <!--Code for GMaps-->
    <pages>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      <add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" />
    </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="Default.aspx" timeout="30" slidingExpiration="true" />
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    <!-- Adding Google Maps API Key from Google -->
    <!-- Add your Google Maps API Key from Google --><add key="googlemaps.subgurim.net" value="AIzaSyB_QZo3g2MEGfQeY8fkfCGGej_X4LnxoWQ" />
  <!-- And add your Commercial Key from Subgurim if you have purchased one --><add key="googlemaps.subgurim.net" value="" /><add key="googlemaps.subgurim.net_Commercial" value="" /></appSettings>
  <location path="Dashboard.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="DbConnString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\carpooling_db.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Service" />
      </service>
    </services>
  </system.serviceModel>
</configuration>