/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Carousel fix - to the center */
.carousel {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.container{
    max-width:960px !important;
}

#myCarousel .nav a small {
display:block;
}

#myCarousel .nav {
background:#eee;
}

.carousel-caption {
    padding-bottom: 30px;
    right: 0px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    bottom: 0px;
    padding-left: 20px;
    text-align: left;
}
.searchbar{
    margin-top: 50px;
}
